#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CV-display {
  text-align: left;
  color: black;
  padding: 60px;
  border: 2px solid white;
  background-color: white;
  max-width: 840px;
  min-width: 840px;
  max-height: 940px;
  min-height: 940px;

  display: flex;
  flex-direction: column;
}

.cvPersonal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cvPersonal h2:first-of-type{
  margin-bottom: 5px;
  font-size: 36px;
}

.cvEducation h2:first-of-type,
.cvExperience h2:first-of-type 
{
  background-color: black;
  color: white;
  padding-left: 10px;
}