#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CV-display {
  border: 2px solid white;
  background-color: white;
  max-width: 900px;
  min-width: 900px;
  max-height: 1000px;
  min-height: 1000px;
}