.sideInfo {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    overflow: auto;
}

.sideInfo > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideInfo h2 {
    margin-bottom: 0;
}

.personalInfo > div, .education > div, .experience > div {
    display: flex;
    flex-direction: column;
}

.buttons {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}